<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login & Reg</title>
    {%load staticfiles%}
    <link rel="stylesheet" href="{% static 'login_reg/style.css'%}" type="text/css">
  </head>
  <body>
    <h3>Welcome</h3>
    {%if messages%}
      <ul class="messages">
        {%for message in messages%}
          <li class="{{message.tags}}">{{message}}</li>
        {%endfor%}
      </ul>
    {%endif%}
    <form action="/register" method="POST">
      {%csrf_token%}
      <h4>Register</h4>
      <p>Name <input type='text' name='name'></p>
      <p>Alias <input type='text' name='alias'></p>
      <p>Email <input type='text' name='email'></p>
      <p>Password <input type='password' name='password'></p>
      <p>* Password must be 8 characters</p>
      <p>Confirm Password <input type='password' name='cpassword'></p>
      <input type="submit" value="Register">
    </form>
    <form action="/login" method="POST">
      {%csrf_token%}
      <h4>Login</h4>
      <p>Email <input type='text' name='email'></p>
      <p>Password <input type='password' name='password'></p>
      <input type="submit" value="login">
    </form>
  </body>
</html>
